node-linker=hoisted

message="chore(release): %s :tada:"
registry=https://registry.npmmirror.com/
home=https://npm.taobao.org
phantomjs_cdnurl=https://npmmirror.com/dist/phantomjs
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
sass_binary_site=https://npmmirror.com/mirrors/node-sass
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
NVM_NODEJS_ORG_MIRROR=https://npmmirror.com/mirrors/node
CHROMEDRIVER_CDNURL=https://npmmirror.com/mirrors/chromedriver
OPERADRIVER=https://npmmirror.com/mirrors/operadriver
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
PYTHON_MIRROR=https://npmmirror.com/mirrors/python
PUPPETEER_DOWNLOAD_HOST=https://npm.taobao.org/mirrors