.yt-ppbutton {
    display: inline-block;
    border: 1px solid #ccc;
    text-decoration: none;
    word-wrap: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	padding: 0 8px 0 5.5px;
    height: 24px;
    color: #6D6D6D;
    background-color: #fafafa;
    font-size: 11px;
	font-family: "Roboto";
	font-weight: 400;
	padding-top: 2px;
}

.yt-ppbutton:before {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAYCAYAAAD6S912AAAACXBIWXMAAA7DAAAOwwHHb6hkAAADA0lEQVQ4jc3VT2hdRRQG8O/MzH2JRLESNKa29SnWuhL/gOCiiAsXYlHBlYJiEEVwoQ1USqTdaEWUIm1VoqY1DYaQ0qdQFVFaU0GqVKq1JsHE/tHWtErzXhII7/LuzJzPxcsLaWNeGujCA8O93MWPwzdn5kpbWxsuZ5nLqgFwAHDovs6ptFxO00862icGuvpCDCLGWWrwAJcE2vSl74qrm69YdmdrQ9O5NeseS667+XqePno0my5OiMsloC5NXLWT7PyFJFU/Hs78vV+QK7aNjV679smHxVgAEDHWXjKY36Wxa5Akyajk8fEse/Zb5U29Wbr8+Z53G5e1XA0AYpyDsYtnnt9FrYFlX336EPzuoRDu+YxcufXkYPPd6+63xgAQI9a5RcGdM6CPpGq1U1J18J8Qnh4gb+zNpluf2rGl8armJgAQmyQQuTSQJJWk1+p75mP88Jj3d+0jb3j9p0PX3PHg2moE1kLM/Aj+C6xV0OoiNR77O8ue+EaZ706nWh5/8xXXeGUOACAXtVoPJMnIGkpWKt5v/9nH2z8l86/9ONDYesuKKjqn08XAWXhOtofPZNkDB8iVG/Z2G5ELwCUdvdqE5wwgAlBk3nzWHwEACoAErAAhxPDBb5DOE0kyNfrrD6W+TZuVxNwdrwvGmZaskCPnfXhjKHEDZ0Ja2f/e2+N7N20J5akUIgKq1gUJICrgDBCias+I6juncsnZ4aEjaX/HxtKRffurYyMC8oKzPg8kq6Az5Oi4xq3D1n19llnlQNf2ycLmV9OJc5NiXUKN4WJsFqx99Qo4B1Bj7B+BbDtu3V8nx34v961/cfJw4auoCrGJY/R+oZgcQHIm1QYL/FkK/q0hm3w5FrPK93t6S73tG9LiWBHGOhhLRh/q5e4IkWqkZGE0xB0nkuTUH+dPVwodL48f7N5DDRBjLTXWhWZrze5y6dHPyRcOqq7uJ1vXFz5qWn5rHgDE5XIQs8AtsEC1PLLxudt6QnnV+9PFlofan0mSBgsRIzZJgKVZACD/+7/ev9E3Ln9h7AQdAAAAAElFTkSuQmCC) no-repeat left center transparent;
    background-size: 100% 100%;
    width: 13px;
    height: 14px;
	content: '';
    display: inline-block;
    vertical-align: middle;
	margin-bottom: 2px;
	margin-left: 3px;
	margin-right: 4px;
}

.yt-ppbutton:hover {
	background: black;
	background-image: -webkit-linear-gradient(top, #f7f9fa, #eff5f7);
	background-image: -ms-linear-gradient(top, #f7f9fa, #eff5f7);
	background-image: -o-linear-gradient(top, #f7f9fa, #eff5f7);
	background-image: linear-gradient(to bottom, #f7f9fa, #eff5f7);
}

.yt-ppbuttonBlack {
    display: inline-block;
    border: 1px solid #333333;
    text-decoration: none;
    word-wrap: normal;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	padding: 0 8px 0 5.5px;
    height: 24px;
    color: #FFFFFF;
    background-color: #333333;
    font-size: 11px;
	font-family: "Roboto";
	font-weight: 400;
	padding-top: 2px;
}

.yt-ppbuttonBlack:before {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAYCAYAAAD6S912AAAACXBIWXMAAA7DAAAOwwHHb6hkAAADA0lEQVQ4jc3VT2hdRRQG8O/MzH2JRLESNKa29SnWuhL/gOCiiAsXYlHBlYJiEEVwoQ1USqTdaEWUIm1VoqY1DYaQ0qdQFVFaU0GqVKq1JsHE/tHWtErzXhII7/LuzJzPxcsLaWNeGujCA8O93MWPwzdn5kpbWxsuZ5nLqgFwAHDovs6ptFxO00862icGuvpCDCLGWWrwAJcE2vSl74qrm69YdmdrQ9O5NeseS667+XqePno0my5OiMsloC5NXLWT7PyFJFU/Hs78vV+QK7aNjV679smHxVgAEDHWXjKY36Wxa5Akyajk8fEse/Zb5U29Wbr8+Z53G5e1XA0AYpyDsYtnnt9FrYFlX336EPzuoRDu+YxcufXkYPPd6+63xgAQI9a5RcGdM6CPpGq1U1J18J8Qnh4gb+zNpluf2rGl8armJgAQmyQQuTSQJJWk1+p75mP88Jj3d+0jb3j9p0PX3PHg2moE1kLM/Aj+C6xV0OoiNR77O8ue+EaZ706nWh5/8xXXeGUOACAXtVoPJMnIGkpWKt5v/9nH2z8l86/9ONDYesuKKjqn08XAWXhOtofPZNkDB8iVG/Z2G5ELwCUdvdqE5wwgAlBk3nzWHwEACoAErAAhxPDBb5DOE0kyNfrrD6W+TZuVxNwdrwvGmZaskCPnfXhjKHEDZ0Ja2f/e2+N7N20J5akUIgKq1gUJICrgDBCias+I6juncsnZ4aEjaX/HxtKRffurYyMC8oKzPg8kq6Az5Oi4xq3D1n19llnlQNf2ycLmV9OJc5NiXUKN4WJsFqx99Qo4B1Bj7B+BbDtu3V8nx34v961/cfJw4auoCrGJY/R+oZgcQHIm1QYL/FkK/q0hm3w5FrPK93t6S73tG9LiWBHGOhhLRh/q5e4IkWqkZGE0xB0nkuTUH+dPVwodL48f7N5DDRBjLTXWhWZrze5y6dHPyRcOqq7uJ1vXFz5qWn5rHgDE5XIQs8AtsEC1PLLxudt6QnnV+9PFlofan0mSBgsRIzZJgKVZACD/+7/ev9E3Ln9h7AQdAAAAAElFTkSuQmCC) no-repeat left center transparent;
    background-size: 100% 100%;
    width: 13px;
    height: 14px;
	content: '';
    display: inline-block;
    vertical-align: middle;
	margin-bottom: 2px;
	margin-left: 3px;
	margin-right: 4px;
}

.yt-ppbuttonBlack:hover {
	background-color: #404040;
}

.ppbutton {
    display: inline-block;
    border: 1px solid #ccc;
    text-decoration: none;
    word-wrap: normal;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	padding: 4px 8px 2px 5.5px;
    color: #6D6D6D;
    background-color: #fafafa;
    font-size: 11px;
	font-family: "Roboto";
	font-weight: 400;
	margin-top: 10px;
}

.ppbutton:before {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAYCAYAAAD6S912AAAACXBIWXMAAA7DAAAOwwHHb6hkAAADA0lEQVQ4jc3VT2hdRRQG8O/MzH2JRLESNKa29SnWuhL/gOCiiAsXYlHBlYJiEEVwoQ1USqTdaEWUIm1VoqY1DYaQ0qdQFVFaU0GqVKq1JsHE/tHWtErzXhII7/LuzJzPxcsLaWNeGujCA8O93MWPwzdn5kpbWxsuZ5nLqgFwAHDovs6ptFxO00862icGuvpCDCLGWWrwAJcE2vSl74qrm69YdmdrQ9O5NeseS667+XqePno0my5OiMsloC5NXLWT7PyFJFU/Hs78vV+QK7aNjV679smHxVgAEDHWXjKY36Wxa5Akyajk8fEse/Zb5U29Wbr8+Z53G5e1XA0AYpyDsYtnnt9FrYFlX336EPzuoRDu+YxcufXkYPPd6+63xgAQI9a5RcGdM6CPpGq1U1J18J8Qnh4gb+zNpluf2rGl8armJgAQmyQQuTSQJJWk1+p75mP88Jj3d+0jb3j9p0PX3PHg2moE1kLM/Aj+C6xV0OoiNR77O8ue+EaZ706nWh5/8xXXeGUOACAXtVoPJMnIGkpWKt5v/9nH2z8l86/9ONDYesuKKjqn08XAWXhOtofPZNkDB8iVG/Z2G5ELwCUdvdqE5wwgAlBk3nzWHwEACoAErAAhxPDBb5DOE0kyNfrrD6W+TZuVxNwdrwvGmZaskCPnfXhjKHEDZ0Ja2f/e2+N7N20J5akUIgKq1gUJICrgDBCias+I6juncsnZ4aEjaX/HxtKRffurYyMC8oKzPg8kq6Az5Oi4xq3D1n19llnlQNf2ycLmV9OJc5NiXUKN4WJsFqx99Qo4B1Bj7B+BbDtu3V8nx34v961/cfJw4auoCrGJY/R+oZgcQHIm1QYL/FkK/q0hm3w5FrPK93t6S73tG9LiWBHGOhhLRh/q5e4IkWqkZGE0xB0nkuTUH+dPVwodL48f7N5DDRBjLTXWhWZrze5y6dHPyRcOqq7uJ1vXFz5qWn5rHgDE5XIQs8AtsEC1PLLxudt6QnnV+9PFlofan0mSBgsRIzZJgKVZACD/+7/ev9E3Ln9h7AQdAAAAAElFTkSuQmCC) no-repeat left center transparent;
    background-size: 100% 100%;
    width: 13px;
    height: 14px;
	content: '';
    display: inline-block;
    vertical-align: middle;
	margin-bottom: 2px;
	margin-left: 3px;
	margin-right: 4px;
}

.ppbutton:hover {
	background: black;
	background-image: -webkit-linear-gradient(top, #f7f9fa, #eff5f7);
	background-image: -ms-linear-gradient(top, #f7f9fa, #eff5f7);
	background-image: -o-linear-gradient(top, #f7f9fa, #eff5f7);
	background-image: linear-gradient(to bottom, #f7f9fa, #eff5f7);
}
